<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
	input[type=date] {
		width: 100%;
	}
</style>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<back-button></back-button>
		<a	class="btn btn-success pull-right f360-navbar-button"
			ng-click="create()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">New Spot</span>
		</div>
	</div>
</div>
Name
<input ng-model="newSpot.name" class="form-control" placeholder="Name" type="text"/>
Latitude
<input ng-model="newSpot.latitude" class="form-control" placeholder="Latitude" type="number" pattern="[0-9]*.[0-9][0-9][0-9][0-9]"/>
Longitude
<input ng-model="newSpot.longitude" class="form-control" placeholder="Longitude" type="number" pattern="[0-9]*.[0-9][0-9][0-9][0-9]"/>
Street
<input ng-model="newSpot.street" class="form-control" placeholder="Street" type="text"/>
City
<input ng-model="newSpot.city" class="form-control" placeholder="City" type="text"/>
State
<input ng-model="newSpot.state" class="form-control" placeholder="State" type="text"/>
ZIP
<input ng-model="newSpot.zip" class="form-control" placeholder="ZIP" type="number" pattern="[0-9][0-9][0-9][0-9][0-9]"/>
Country
<input ng-model="newSpot.country" class="form-control" placeholder="Country" type="text"/>
Water
<input ng-model="newSpot.water" class="form-control" placeholder="Water" type="text"/>
Species
<input ng-model="newSpot.species" class="form-control" placeholder="Spieces" type="text"/>
Notes
<textarea ng-model="newSpot.notes" class="form-control" placeholder="Notes">

</textarea>