[type="number"] {
	text-align : right;
}

table tr:first-child td {
	border-top: none;
}

input[type=date] {
	width: 100%;
}

.f360-navbar-button {
	position: relative;
	top: 7px;
}

.f360-right-arrow {
	font-size: 1.5em;
}
