<style type="text/css">
<!--
body {
	background-image: url(../../img/f360background.jpg);
	background-repeat: no-repeat;
}
-->
</style>
<img src="../../img/fish360journallogo.png" class="img-responsive" alt="Responsive image" />
<input ng-model="username" class="form-control" placeholder="Username"  autocorrect="off" autocapitalize="off"/>
<input ng-model="password" class="form-control" placeholder="Password" type="password"  autocorrect="off" autocapitalize="off"/>
<a href="#login" class="btn btn-primary btn-block" ng-click="login()">
	Login
</a>
<a href="#terms" class="btn btn-primary btn-block">
    Register
</a>
<!--<a href="#forgotPassword" class="btn btn-primary btn-block">
    Forgot Password?
</a>-->
<span>{{message}}</span>