<h2>
<a	href="#/login"
	class="btn btn-danger">
	Back
</a>
Register
</h2>
<input ng-model="newUser.username" class="form-control" placeholder="Username" />
<input ng-model="newUser.email" class="form-control" placeholder="Email" />
<input ng-model="newUser.password" class="form-control" placeholder="Password" type="password"/>
<input ng-model="newUser.password2" class="form-control" placeholder="Password Again" type="password"/>
<a href="#register" ng-click="register()" class="btn btn-primary btn-block">
	Register
</a>
<span>{{message}}</span>