<div class="col-xs-12" id="chart" style="padding-left: 0px; padding-right: 0px">
    <div ng-repeat="tide in tides.heights"
         style="float: left; height:200px; width: {{100/tides.heights.length}}%; background-color: #EEEEFF">
        <div class="top"
             style="height: 100px;position: relative;">
            <div ng-if="tide.height > 0"
                 style=" width:100%; position:absolute;bottom: 0px;;background: lightblue;height: {{(tide.height) * 200/response.range}}px;">
                <div style="z-index: 20;-webkit-transform:rotate(-90deg);position: absolute;bottom:10px">{{tide.height}}</div>
            </div>
        </div>
        <div class="bottom"
             style="height: 100px;position: relative;">
            <div ng-if="tide.height <= 0"
                 style=" width:100%; position: absolute;top: 0px;;background: lightblue;height: {{(-tide.height) * 200/response.range}}px;">
                <div style="z-index: 20;position:absolute;top:15px;-webkit-transform:rotate(90deg)">{{tide.height}}</div>
            </div>
        </div>
    </div>
</div>

<h4>Trip</h4>
{{model.trip}}

<h4>Tides</h4>
{{tides}}
