<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
</style>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a href="#/login" class="btn btn-danger pull-left f360-navbar-button">
			<!--span class="glyphicon glyphicon-chevron-left"></span-->
			Back
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">Trips</span>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>


<a	href="#/{{username}}/trip/new"
	class="btn btn-success btn-block">
	Add
</a>
<table class="table">
	<tr ng-repeat="trip in trips">
		<td>
			<a class="pull-right" href="#/{{username}}/trip/{{trip._id}}/edit">
				<span>&#9654;</span>
			</a>
			<a href="#/{{username}}/trip/{{trip._id}}/fish/list">
				<span>{{trip.title}}</span><br/>
				<span>{{trip.start | date : MMMdyyy}}</span> - 
				<span>{{trip.end | date : MMMdyyy}}</span>
			</a>
		</tr>
	</tr>
</table>