<style>
	.navbar-form {
		padding-left : 0px;
	}
</style>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<form class="navbar-form navbar-left" role="search">
			<a href="#/login" class="btn btn-danger pull-left">Back</a>
		</form>
		<div class="navbar-header">
			<span class="navbar-brand">Trips</span>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>


<a	href="#/{{username}}/trip/new"
	class="btn btn-success btn-block">
	Add
</a>
<table class="table">
	<tr ng-repeat="trip in trips">
		<td>
			<a class="pull-right" href="#/{{username}}/trip/{{trip._id}}/edit">
				<span>&#9654;</span>
			</a>
			<a href="#/{{username}}/trip/{{trip._id}}/fish/list">
				<span>{{trip.title}}</span><br/>
				<span>{{trip.start}}</span>
				<span>{{trip.end}}</span>
			</a>
		</tr>
	</tr>
</table>