<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!--<back-button></back-button>-->
		<a	href="#/{{username}}/trip/list" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a	href="#/{{username}}/trip/new" class="btn btn-success pull-right f360-navbar-button"
			ng-click="create()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">New Trip</span>
		</div>
	</div>
</div>
Title
<input ng-model="newTrip.title" class="form-control" placeholder="Title"/>
Start Date/Time
<div class="row">
    <div class="col-xs-6">
        <input ng-model="newTrip.start" class="form-control" type="date" ng-change="loadMarineWeather()" />
    </div>
    <div class="col-xs-6">
        <input ng-model="newTrip.startTime" class="form-control" type="time" />
    </div>
</div>
End Date/Time
<div class="row">
    <div class="col-xs-6">
        <input ng-model="newTrip.end" class="form-control" type="date" />
    </div>
    <div class="col-xs-6">
        <input ng-model="newTrip.endTime" class="form-control" type="time" />
    </div>
</div>
Spots:
<select ng-model="newTrip.spot" ng-change="loadMarineWeather()" class="form-control" placeholder="Spot">
	<option ng-repeat="spot in spots" value="{{spot._id}}">{{spot.name}}</option>
</select>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#weather-collapse">
		<h3 class="panel-title">
			Marine Weather
		</h3>
	</div>
	<div id="weather-collapse" class="collapse">
		<div class="panel-body">
			<div ng-show="!newTrip.weather"
				 class="alert alert-success">
				Please select a date and spot
			</div>

			<table ng-if="newTrip.weather" class="table">
				<tbody>
				<tr>
					<td>Air Temp. (min/max)</td>
					<td>{{newTrip.weather[0].mintempF}} &#8457; / {{newTrip.weather[0].maxtempF}} &#8457;</td>
				</tr>
				<tr>
					<td>Wind Speed</td>
					<td>{{newTrip.weather[0].hourly[0].windspeedMiles}} mph {{newTrip.weather[0].hourly[0].winddir16Point}}</td>
				</tr>
				<tr>
					<td>Pressure</td>
					<td>{{newTrip.weather[0].hourly[0].pressure}}</td>
				</tr>
				<tr>
					<td>Precipation</td>
					<td>{{newTrip.weather[0].hourly[0].precipMM}} mm</td>
				</tr>
				<tr>
					<td>Sky</td>
					<td>
							<span ng-repeat="value in newTrip.weather[0].hourly[0].weatherDesc[0]">
								{{value}}
							</span>
						<img width="10%" ng-src={{newTrip.weather[0].hourly[0].weatherIconUrl[0].value}} />
					</td>
				</tr>
				<tr>
					<td>Water Temperature</td>
					<td>{{newTrip.weather[0].hourly[0].waterTemp_F}} &#8457;</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#tide">
		<h3 class="panel-title">
			Tide
		</h3>
	</div>
	<div id="tide" class="collapse">
		<div class="panel-body">

			<div ng-show="!newFish.spot || !newFish.caught"
				 class="alert alert-success">
				Please select a date and spot
			</div>

			<f360-tide-chart date="{{newTrip.start}}" time="{{newTrip.startTime}}" spot="{{newTrip.spot}}" username="{{username}}"></f360-tide-chart>

		</div>
	</div>
</div>

Notes
<textarea ng-model="newTrip.notes" class="form-control" placeholder="Notes">

</textarea>
