<h2>
<a	href="#/{{username}}/trip/{{tripId}}/fish/list"
	class="btn btn-danger">
	Back
</a>
Edit Fish</h2>
<input ng-model="editFish.caught" class="form-control" type="date"/>
<select ng-model="newFish.species" class="form-control" placeholder="Species">
	<option ng-repeat="species in speciess">{{species.common}} ({{species.scientific}})</option>
</select>
<input ng-model="editFish.weight" class="form-control" placeholder="Weight"/>
<input ng-model="editFish.length" class="form-control" placeholder="Length"/>
<input ng-model="editFish.girth" class="form-control" placeholder="Girth"/>
<input ng-model="editFish.spot" class="form-control" placeholder="Spot"/>
<input ng-model="editFish.presentation" class="form-control" placeholder="Presentation"/>
<input ng-model="editFish.waterDepth" class="form-control" placeholder="Water Depth" type="number"/>
<input ng-model="editFish.waterTemperature" class="form-control" placeholder="Water Temperature" type="number"/>
<input ng-model="editFish.waterClarity" class="form-control" placeholder="Water Clarity" type="number"/>
<textarea ng-model="editFish.notes" class="form-control" placeholder="Notes">

</textarea>
<a	href="#"
	class="btn btn-success btn-block"
	ng-click="update()">
	Update
</a>
<a	href="#"
	ng-click="remove()"
	class="btn btn-danger btn-block">
	Remove
</a>
