<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
	input[type=date] {
		width: 100%;
	}
</style>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a	href="#/{{username}}/trip/{{tripId}}/fish/list" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="btn btn-success pull-right f360-navbar-button"
			ng-click="create()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">New Fish</span>
		</div>
	</div>
</div>
Caught Date/Time
<div class="row">
    <div class="col-xs-6">

        <input ng-change="delayedCall(loadMoonPhase,2000)" ng-model="newFish.caught" class="form-control" type="date"
			    min="{{newFish.minDate | date:'yyyy-MM-dd'}}"
			    max="{{newFish.maxDate | date:'yyyy-MM-dd'}}"/>
    </div>
    <div class="col-xs-6">
        <input ng-model="newFish.caughtTime" class="form-control" type="time" />
    </div>
</div>
Species
<div angucomplete-alt id="ex1" placeholder="{{defaultSpecies.species === undefined ? 'Type of Species...' : defaultSpecies.commonName+ ' (' + defaultSpecies.species + ')'}}" pause="100" selected-object="newFish.species"
local-data="species" search-fields="CommonName,BracesLeft,ScientificName,Braces,BracesRight" title-field="CommonName,BracesLeft,ScientificName,BracesRight"  minlength="1" input-class="form-control"/> </div>
Spots
<select ng-change="delayedCall(loadMoonPhase,2000)" ng-model="newFish.spot" class="form-control" placeholder="Species">
    <option ng-repeat="spot in spots" value="{{spot._id}}">{{spot.name}}</option>
</select>
Rods
<select ng-model="newFish.rod" class="form-control" placeholder="Gear">
    <option ng-repeat="gear in gears | filter : gear.gearType = 'Rod'" value="{{gear._id}}">{{gear.name}}</option>
</select>
Reels
<select ng-model="newFish.reel" class="form-control" placeholder="Gear">
    <option ng-repeat="gear in gears | filter : gear.gearType = 'Reel'" value="{{gear._id}}">{{gear.name}}</option>
</select>
Lines
<select ng-model="newFish.line" class="form-control" placeholder="Gear">
    <option ng-repeat="gear in gears | filter : gear.gearType = 'Line'" value="{{gear._id}}">{{gear.name}}</option>
</select>
Leaders
<select ng-model="newFish.leader" class="form-control" placeholder="Gear">
    <option ng-repeat="gear in gears | filter : gear.gearType = 'Leader'" value="{{gear._id}}">{{gear.name}}</option>
</select>
Presentations
<select ng-model="newFish.presentation" class="form-control" placeholder="Gear">
    <option ng-repeat="gear in gears | filter : gear.gearType = 'Presentation'" value="{{gear._id}}">{{gear.name}}</option>
</select>
<!--


-->
<!--
Presentation
<select ng-model="newFish.presentation" class="form-control" placeholder="Presentation">
	<option ng-repeat="presentation in presentations" value="{{presentation.name}}">{{presentation.name}}</option>
</select>
--><!--
Spot
<input ng-model="newFish.spot" class="form-control" placeholder="Spot" />
-->
Weight
<input ng-model="newFish.weight" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
Length
<input ng-model="newFish.length" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
Girth
<input ng-model="newFish.girth" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
Water Depth
<input ng-model="newFish.waterDepth" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
Water Temperature
<input ng-model="newFish.waterTemperature" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
Water Clarity
<input ng-model="newFish.waterClarity" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
Sunrise Time
<input ng-model="newFish.sunriseTime" class="form-control" type="time"/>
Sunset Time
<input ng-model="newFish.sunsetTime" class="form-control" type="time"/>

Moon Phase
<input ng-model="newFish.moonphase" class="form-control" type="text"/>
<!--<select ng-model="newFish.moonphase" class="form-control">
	<option>New Moon</option>
	<option>Waxing Crescent</option>
	<option>First Quarter</option>
	<option>Waxing Gibbous</option>
	<option>Full Moon</option>
	<option>Waning Gibbous</option>
	<option>Third Quarter</option>
	<option>Waning Crescent</option>
</select>-->

Moonrise Time
<input ng-model="newFish.moonriseTime" class="form-control" type="time"/>
Moonset Time
<input ng-model="newFish.moonsetTime" class="form-control" type="time"/>
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
		<h3 class="panel-title">
			Tide Information
		</h3>
	</div>
	<div id="collapse1" class="collapse in">
		<div class="panel-body">
			Tide Height
			<input ng-model="newFish.tideheight" class="form-control" type="text"/>
			Tide Time
			<input ng-model="newFish.tidetime" class="form-control" type="time"/>
			Next Extreme Tide Type
			<input ng-model="newFish.ExtremeTideType" class="form-control" type="text"/>
			Next Extreme Tide Height
			<input ng-model="newFish.ExtremeTideHeight" class="form-control" type="text"/>
			Next Extreme Tide Time
			<input ng-model="newFish.ExtremeTideTime" class="form-control" type="time"/>
		</div>
	</div>
</div>
Notes
<textarea ng-model="newFish.notes" class="form-control" placeholder="Notes">

</textarea>
<input type="hidden" ng-model="newFish.trip_id"/>