<div class="navbar navbar-default navbar-fixed-top" ng-init="getCurrentLocationDetails()">
	<div class="container-fluid">
		<a class="btn btn-danger pull-left f360-navbar-button" href="#/{{username}}/spots/list">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a	class="btn btn-success pull-right f360-navbar-button"
			ng-click="create()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">New Spot</span>
		</div>
	</div>
</div>
Name
<input ng-model="newSpot.name" class="form-control" placeholder="Name" type="text"/>

Start Date
<div class="row">
    <div class ="col-xs-12">
        <input ng-model="newSpot.start" id="start-date" class="form-control" type="date" ng-change="loadMarineWeather()" />
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        Latitude
        <input ng-model="newSpot.latitude" class="form-control" placeholder="0.00" type="number" pattern="[0-9]*.[0-9][0-9][0-9][0-9]" />
    </div>
    <div class="col-xs-6">
        Longitude
        <input ng-model="newSpot.longitude" class="form-control" placeholder="0.00" type="number" pattern="[0-9]*.[0-9][0-9][0-9][0-9]" />
    </div>
</div>
Street
<input ng-model="newSpot.street" class="form-control" placeholder="Street" type="text"/>
City
<input ng-model="newSpot.city" class="form-control" placeholder="City" type="text"/>
<div class="row">
    <div class="col-xs-6">
        State
        <input ng-model="newSpot.state" class="form-control" placeholder="State" type="text" />
    </div>
    <div class="col-xs-6">
        ZIP
        <input ng-model="newSpot.zip" class="form-control" placeholder="01234" type="text" pattern="[0-9a-zA-Z]*" />
    </div>
</div>
Country
<input ng-model="newSpot.country" class="form-control" placeholder="Country" type="text"/>
Water
<select ng-model="newSpot.water" class="form-control" placeholder="Water">
    <option value="Salt water">Salt water</option>
    <option value="Fresh water">Fresh water</option>
</select>

<div></div>

<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#weather-collapse">
            Marine Weather
    </div>
    <div id="weather-collapse" class="collapse">
        <div class="panel-body">
            <div ng-show="!newSpot.weather"
                 class="alert alert-success">
                Please select a date
            </div>

            <table ng="newSpot.weather" class="table">
                <tbody>
                <tr>
                    <td>Air Temp. (min/max)</td>
                    <td>{{newSpot.weather[0].mintempF}} &#8457; / {{newSpot.weather[0].maxtempF}} &#8457;</td>
                </tr>
                <tr>
                    <td>Wind</td>
                    <td>{{newSpot.weather[0].hourly[0].windspeedMiles}} mph {{newSpot.weather[0].hourly[0].winddir16Point}}</td>
                </tr>
                <tr>
                    <td>Pressure</td>
                    <td>{{newSpot.weather[0].hourly[0].pressure}}</td>
                </tr>
                <tr>
                    <td>Precipation</td>
                    <td>{{newSpot.weather[0].hourly[0].precipMM}} mm</td>
                </tr>
                <tr>
                    <td>Sky</td>
                    <td>
							<span ng-repeat="value in newSpot.weather[0].hourly[0].weatherDesc[0]">
								{{value}}
							</span>
                        <img width="10%" ng-src={{newSpot.weather[0].hourly[0].weatherIconUrl[0].value}} />
                    </td>
                </tr>
                <tr>
                    <td>Water Temperature</td>
                    <td>{{newSpot.weather[0].hourly[0].waterTemp_F}} &#8457;</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

Species
    <div angucomplete-alt id="ex1" placeholder="{{defaultSpecies.species === undefined ? 'Type of Species...' : defaultSpecies.commonName+ ' (' + defaultSpecies.species + ')'}}" pause="100" selected-object="newSpot.species"
local-data="species" search-fields="CommonName,BracesLeft,ScientificName,Braces,BracesRight" title-field="CommonName,BracesLeft,ScientificName,BracesRight"  minlength="1" input-class="form-control"/>
    </div>
Notes
<textarea ng-model="newSpot.notes" class="form-control" placeholder="Notes">

</textarea>